body
{
    margin: 0 !important;
    padding: 0 !important;
    background-color: hsl(217, 54%, 11%);
}

.attribution
{
    display: flex;
    height: 97vh;
    justify-content: center;
    align-items: center;
}

#card
{
    width: 20em;
    height: 35em;
    border-radius: 13px;
    padding: 1.8em;
    background-color: hsl(216, 50%, 16%);
    box-shadow: 0px 26px 18px 15px hsl(217, 54%, 9%, 1);
}

#image-square
{
    width: 100%;
    height: 100%;
    opacity: 1;
}

#square-parent
{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 20em;
}

#card #square-parent #eye-icon-parent
{
    position: absolute;
    background-color: hsl(178, 100%, 50%, 60%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 999;
    transition: opacity 0.35s;
}

#eye-icon
{
    width: 3em;
    height: 3em;
}

#card #square-parent #eye-icon-parent:hover 
{
    opacity: 0.9;
}

#card #title
{
    font-size: 10px;
    font-family: sans-serif;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-weight: 600;
}

#card #title:hover
{
    color: hsl(178, 100%, 50%);
}

#card p
{
    font-size: 15px;
    font-family: sans-serif;
    color: hsl(215, 51%, 70%);
}

#coin-info
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "currency .. days"; 
    border-bottom: 1px solid hsl(215, 51%, 70%);
}

#card h4
{
    display: flex;
    align-items: center;
    grid-area: currency;
    font-size: 18px;
    text-align: left;
    font-family: sans-serif;
    color: hsl(178, 100%, 50%);
}

#card h5
{
    display: flex;
    justify-content: right;
    align-items: center;
    grid-area: days;
    font-size: 0.8em;
    text-align: left;
    font-family: sans-serif;
    color: hsl(215, 51%, 70%);
}

#card #footer
{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: sans-serif;
}

#footer img
{
    width: 2em;
    border: 1px solid white;
    border-radius: 50%;
}

#card #footer a
{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

#card #footer a:hover
{
    color: hsl(178, 100%, 50%);
}

@media screen and (max-width:375px) 
{
    .attribution
    {
	padding:2em;
    }

    #card
    {
        width: 17em;
    }

    #square-parent
    {
        width: 17em;
        height: 17em;
    }

    #card #title
    {
        font-size: 9px;
    }

    #card h5
    {
        font-size: 0.8em;
    }

    #card p
    {
        font-size: 13px;
    }

    #card #footer
    {
        font-size: 13px;
    }

}



